//
// Component Styles:
//

.todo-list {
  list-style: none;
  padding: 0;

  @include el(item) {
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 5px 10px 10px 0;
    position: relative;

    @include mod(completed) {
      text-decoration: line-through;
    }

    &:first-child {
      border-top: 1px solid #ddd;
      padding-top: 12px;
    }

    input[type="checkbox"] {
      margin-right: 10px;
    }

    @include el(delete-btn) {
      background-color: transparent;
      border: 0;
      position: absolute;
      right: 0;
      top: 3px;

      @include el(text) {
        @include sr-only();
      }
    }

    @include el(edit-link) {
      position: absolute;
      right: 35px;
      top: 5px;
    }
  }

  @include el(form) {
    margin: 10px 0;

    button {
      margin-right: 10px;
    }

    h2 {
      margin-top: 0;
    }

    input[type="text"] {
      @include input();
    }

    label {
      @include sr-only();
    }
  }
}

.todo-list--completed .todo-list__item--uncompleted,
.todo-list--uncompleted .todo-list__item--completed {
  display: none;
}

.todo-list__item:first-child .todo-list__item__edit-link {
  top: 10px;
}

.todo-list__item:first-child .todo-list__item__delete-btn {
  top: 8px;
}

.todo-filter {
  text-align: center;

  @include el(link) {
    margin-right: 10px;

    @include mod(selected) {
      font-weight: bold;
    }
  }
}
