//
// Page Styles:
//

@include border-box-inherit();

body {
  color: map-get($text-colors, body-copy);
}

a,
a:visited {
  color: map-get($text-colors, link);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@each $level in (1, 2, 3, 4, 5, 6) {
  h#{$level} {
    color: map-get($text-colors, title);
  }
}

.todo-list-app {
  margin: 0 15px;

  @include breakpoint(desktop) {
    margin: 0 auto;
    max-width: 960px;
  }
}

.btn {
  @include button(
    $bg-color: $button-color,
    $border-color: $button-color,
    $color: #fff,
    $hover-bg-color: lighten($button-color, 15%),
    $hover-border-color: lighten($button-color, 15%)
  );
  margin-right: 10px;
}
